<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SRABON - Responsive, Touch Friendly Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Panel Template">
    <meta name="author" content="Westilian: Kamrujaman Shohel">
    <!-- styles -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.jqplot.css') }}" rel="stylesheet">
    <link href="{{ asset('css/prettify.css') }}" rel="stylesheet">
    <link href="{{ asset('css/elfinder.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/elfinder.theme.css') }}" rel="stylesheet">
    <link href="{{ asset('css/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ asset('js/plupupload/jquery.plupload.queue/css/jquery.plupload.queue.css') }}" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/icons-sprite.css') }}" rel="stylesheet">
    <link id="themes" href="{{ asset('css/themes.css') }}" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie/ie7.css') }}" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie/ie8.css') }}" />
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie/ie9.css') }}" />
    <![endif]-->
    <!--fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('ico/apple-touch-icon-57-precomposed.png') }}">
    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="branding">
                <div class="logo">
                    <a href="index.html"><img src="{{ asset('img/logo.png')}}" width="168" height="40" alt="Logo"></a>
                </div>
            </div>
            <ul class="nav pull-right">
                <li><a href="#"><i class="icon-share-alt icon-white"></i> Go to Main Site</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="login-container">
    <div class="well-login">
        <div class="control-group">
            <div class="controls">
                <div>
                    <input type="text" placeholder="Username or Email" class="login-input user-name">
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div>
                    <input type="password" placeholder="Password" class="login-input user-pass">
                </div>
            </div>
        </div>
        <div class="clearfix">
            <button class="btn btn-inverse login-btn" type="submit">Login</button>
        </div>
        <div class="remember-me">
            <input class="rem_me" type="checkbox" value=""> Remeber Me
        </div>
    </div>
</div>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{asset('scripts/jquery.js')}}"></script>
<script src="{{asset('scripts/jquery-ui-1.8.16.custom.min.js')}}"></script>
<script src="{{asset('scripts/bootstrap.js')}}"></script>
<script src="{{asset('scripts/prettify.js')}}"></script>
<script src="{{asset('scripts/jquery.sparkline.min.js')}}"></script>
<script src="{{asset('scripts/jquery.nicescroll.min.js')}}"></script>
<script src="{{asset('scripts/accordion.jquery.js')}}"></script>
<script src="{{asset('scripts/smart-wizard.jquery.js')}}"></script>
<script src="{{asset('scripts/vaidation.jquery.js')}}"></script>
<script src="{{asset('scripts/jquery-dynamic-form.js')}}"></script>
<script src="{{asset('scripts/fullcalendar.js')}}"></script>
<script src="{{asset('scripts/raty.jquery.js')}}"></script>
<script src="{{asset('scripts/jquery.noty.js')}}"></script>
<script src="{{asset('scripts/jquery.cleditor.min.js')}}"></script>
<script src="{{asset('scripts/data-table.jquery.js')}}"></script>
<script src="{{asset('scripts/TableTools.min.js')}}"></script>
<script src="{{asset('scripts/ColVis.min.js')}}"></script>
<script src="{{asset('scripts/plupload.full.js')}}"></script>
<script src="{{asset('scripts/elfinder/elfinder.min.js')}}"></script>
<script src="{{asset('scripts/chosen.jquery.js')}}"></script>
<script src="{{asset('scripts/uniform.jquery.js')}}"></script>
<script src="{{asset('scripts/jquery.tagsinput.js')}}"></script>
<script src="{{asset('scripts/jquery.colorbox-min.js')}}"></script>
<script src="{{asset('scripts/check-all.jquery.js')}}"></script>
<script src="{{asset('scripts/inputmask.jquery.js')}}"></script>
<script src="http://bp.yahooapis.com/2.4.21/browserplus-min.js')}}"></script>
<script src="{{asset('scripts/plupupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
<script src="{{asset('scripts/excanvas.min.js')}}"></script>
<script src="{{asset('scripts/jquery.jqplot.min.js')}}"></script>
<script src="{{asset('scripts/chart/jqplot.highlighter.min.js')}}"></script>
<script src="{{asset('scripts/chart/jqplot.cursor.min.js')}}"></script>
<script src="{{asset('scripts/chart/jqplot.dateAxisRenderer.min.js')}}"></script>
<script src="{{asset('scripts/custom-script.js')}}"></script>
<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js')}}"></script>
<![endif]-->
<script src="{{asset('scripts/respond.min.js')}}"></script>
<script src="{{asset('scripts/ios-orientationchange-fix.js')}}"></script>
</body>
</html>